<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>分销商等级管理 - 编辑分销商等级</h3>
                <h5>网站系统分销商等级管理</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="handleposition" method="post">
        <input type="hidden" name="act" value="{$act}">
        <input type="hidden" name="level_id" value="{$info.level_id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="level_name"><em>*</em>等级名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="level_name" value="{$info.level_name}" id="level_name" class="input-txt">
                    <span class="err" id="err_level_name"></span>
                    <p class="notic">设置分销商等级名称</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="level"><em>*</em>等级级别</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="level" value="{$info.level}" id="level" class="input-txt" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
                    <span class="err" id="err_level"></span>
                    <p class="notic">设置分销商等级级别(如:1,2...)</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="rate1"><em>*</em>佣金比率</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="rate1" value="{$info.rate1}" id="rate1" class="input-txt" onkeyup="this.value=/^\d+\.?\d{0,2}$/.test(this.value) ? this.value : ''">
                    <span class="err" id="err_rate1"></span>
                    <p class="notic">佣金占比单位为百分比，如输入10，表示该代理等级的用户可获得商品原价10%的佣金</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="order_money"><em>*</em>升级条件</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="order_money" value="{$info.order_money}" id="order_money" class="input-txt" onkeyup="this.value=/^\d+\.?\d{0,2}$/.test(this.value) ? this.value : ''">
                    <span class="err" id="err_order_money"></span>
                    <p class="notic">分销商升级要满足的条件</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="permissions">分销权限</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="permissions" value="{$info.permissions}" id="permissions" class="input-txt">
                    <span class="err" id="err_permissions"></span>
                    <p class="notic">分销商权限</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    等级描述
                </dt>
                <dd class="opt">
                    <textarea  name="describe" class="tarea" rows="6">{$info.describe}</textarea>
                    <span class="err" id="err_describe"></span>
                    <p class="notic">分销商等级描述信息</p>
                </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" onclick="verifyForm()" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function verifyForm(){
        $('span.err').hide();
        $.ajax({
            type: "POST",
            url: "{:U('Admin/Distribut/handle_level')}",
            data: $('#handleposition').serialize(),
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {icon: 1});
                    location.href = "{:U('Admin/Distribut/level')}";
                } else {
                    layer.msg(data.msg, {icon: 2});
                    $.each(data.result, function (index, item) {
                        $('#err_' + index).text(item).show();
                    });
                }
            }
        });
    }
</script>
</body>
</html>